{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "933b0860",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Collecting dash\n",
      "  Downloading dash-2.3.1-py3-none-any.whl (9.6 MB)\n",
      "Collecting plotly>=5.0.0\n",
      "  Downloading plotly-5.7.0-py2.py3-none-any.whl (28.8 MB)\n",
      "Requirement already satisfied: Flask>=1.0.4 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash) (1.1.2)\n",
      "Collecting dash-html-components==2.0.0\n",
      "  Using cached dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)\n",
      "Collecting dash-core-components==2.0.0\n",
      "  Using cached dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)\n",
      "Collecting dash-table==5.0.0\n",
      "  Using cached dash_table-5.0.0-py3-none-any.whl (3.9 kB)\n",
      "Collecting flask-compress\n",
      "  Downloading Flask_Compress-1.11-py3-none-any.whl (7.9 kB)\n",
      "Requirement already satisfied: click>=5.1 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash) (8.0.3)\n",
      "Requirement already satisfied: itsdangerous>=0.24 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash) (2.0.1)\n",
      "Requirement already satisfied: Werkzeug>=0.15 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash) (2.0.2)\n",
      "Requirement already satisfied: Jinja2>=2.10.1 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash) (2.11.3)\n",
      "Requirement already satisfied: colorama in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from click>=5.1->Flask>=1.0.4->dash) (0.4.4)\n",
      "Requirement already satisfied: MarkupSafe>=0.23 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash) (1.1.1)\n",
      "Requirement already satisfied: six in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from plotly>=5.0.0->dash) (1.16.0)\n",
      "Collecting tenacity>=6.2.0\n",
      "  Using cached tenacity-8.0.1-py3-none-any.whl (24 kB)\n",
      "Collecting brotli\n",
      "  Downloading Brotli-1.0.9-cp39-cp39-win_amd64.whl (383 kB)\n",
      "Installing collected packages: tenacity, brotli, plotly, flask-compress, dash-table, dash-html-components, dash-core-components, dash\n",
      "Successfully installed brotli-1.0.9 dash-2.3.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-compress-1.11 plotly-5.7.0 tenacity-8.0.1\n",
      "Note: you may need to restart the kernel to use updated packages.\n"
     ]
    }
   ],
   "source": [
    "pip install dash"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "97e97dfb",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Collecting dash-daqNote: you may need to restart the kernel to use updated packages.\n",
      "  Using cached dash_daq-0.5.0.tar.gz (642 kB)\n",
      "Requirement already satisfied: dash>=1.6.1 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash-daq) (2.3.1)\n",
      "Requirement already satisfied: Flask>=1.0.4 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=1.6.1->dash-daq) (1.1.2)\n",
      "Requirement already satisfied: dash-html-components==2.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=1.6.1->dash-daq) (2.0.0)\n",
      "Requirement already satisfied: flask-compress in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=1.6.1->dash-daq) (1.11)\n",
      "Requirement already satisfied: plotly>=5.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=1.6.1->dash-daq) (5.7.0)\n",
      "Requirement already satisfied: dash-table==5.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=1.6.1->dash-daq) (5.0.0)\n",
      "Requirement already satisfied: dash-core-components==2.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=1.6.1->dash-daq) (2.0.0)\n",
      "Requirement already satisfied: Werkzeug>=0.15 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=1.6.1->dash-daq) (2.0.2)\n",
      "Requirement already satisfied: click>=5.1 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=1.6.1->dash-daq) (8.0.3)\n",
      "Requirement already satisfied: itsdangerous>=0.24 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=1.6.1->dash-daq) (2.0.1)\n",
      "Requirement already satisfied: Jinja2>=2.10.1 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=1.6.1->dash-daq) (2.11.3)\n",
      "Requirement already satisfied: colorama in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from click>=5.1->Flask>=1.0.4->dash>=1.6.1->dash-daq) (0.4.4)\n",
      "Requirement already satisfied: MarkupSafe>=0.23 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash>=1.6.1->dash-daq) (1.1.1)\n",
      "Requirement already satisfied: six in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from plotly>=5.0.0->dash>=1.6.1->dash-daq) (1.16.0)\n",
      "Requirement already satisfied: tenacity>=6.2.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from plotly>=5.0.0->dash>=1.6.1->dash-daq) (8.0.1)\n",
      "Requirement already satisfied: brotli in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from flask-compress->dash>=1.6.1->dash-daq) (1.0.9)\n",
      "Building wheels for collected packages: dash-daq\n",
      "  Building wheel for dash-daq (setup.py): started\n",
      "  Building wheel for dash-daq (setup.py): finished with status 'done'\n",
      "  Created wheel for dash-daq: filename=dash_daq-0.5.0-py3-none-any.whl size=669716 sha256=7bf1024c9c2774090b25b647f2d740a5dba42826d63b0d7023995fd870fc61ee\n",
      "  Stored in directory: c:\\users\\sarax\\appdata\\local\\pip\\cache\\wheels\\53\\73\\ea\\8a422aab5cab848d88653ed3087c1fa05553c3fbd67fb6ab75\n",
      "Successfully built dash-daq\n",
      "Installing collected packages: dash-daq\n",
      "Successfully installed dash-daq-0.5.0\n",
      "\n"
     ]
    }
   ],
   "source": [
    "pip install dash-daq"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "260665cd",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Requirement already satisfied: plotly in c:\\users\\sarax\\anaconda3\\lib\\site-packages (5.7.0)\n",
      "Requirement already satisfied: six in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from plotly) (1.16.0)\n",
      "Requirement already satisfied: tenacity>=6.2.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from plotly) (8.0.1)\n",
      "Note: you may need to restart the kernel to use updated packages.\n"
     ]
    }
   ],
   "source": [
    "pip install plotly"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "5a9b85e6",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Collecting dash-bootstrap-components\n",
      "  Downloading dash_bootstrap_components-1.1.0-py3-none-any.whl (210 kB)\n",
      "Requirement already satisfied: dash>=2.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash-bootstrap-components) (2.3.1)\n",
      "Requirement already satisfied: dash-table==5.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=2.0.0->dash-bootstrap-components) (5.0.0)\n",
      "Requirement already satisfied: plotly>=5.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=2.0.0->dash-bootstrap-components) (5.7.0)\n",
      "Requirement already satisfied: dash-html-components==2.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=2.0.0->dash-bootstrap-components) (2.0.0)\n",
      "Requirement already satisfied: dash-core-components==2.0.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=2.0.0->dash-bootstrap-components) (2.0.0)\n",
      "Requirement already satisfied: flask-compress in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=2.0.0->dash-bootstrap-components) (1.11)\n",
      "Requirement already satisfied: Flask>=1.0.4 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from dash>=2.0.0->dash-bootstrap-components) (1.1.2)\n",
      "Requirement already satisfied: itsdangerous>=0.24 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (2.0.1)\n",
      "Requirement already satisfied: Jinja2>=2.10.1 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (2.11.3)\n",
      "Requirement already satisfied: Werkzeug>=0.15 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (2.0.2)\n",
      "Requirement already satisfied: click>=5.1 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (8.0.3)\n",
      "Requirement already satisfied: colorama in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from click>=5.1->Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (0.4.4)\n",
      "Requirement already satisfied: MarkupSafe>=0.23 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from Jinja2>=2.10.1->Flask>=1.0.4->dash>=2.0.0->dash-bootstrap-components) (1.1.1)\n",
      "Requirement already satisfied: tenacity>=6.2.0 in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from plotly>=5.0.0->dash>=2.0.0->dash-bootstrap-components) (8.0.1)\n",
      "Requirement already satisfied: six in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from plotly>=5.0.0->dash>=2.0.0->dash-bootstrap-components) (1.16.0)\n",
      "Requirement already satisfied: brotli in c:\\users\\sarax\\anaconda3\\lib\\site-packages (from flask-compress->dash>=2.0.0->dash-bootstrap-components) (1.0.9)\n",
      "Installing collected packages: dash-bootstrap-components\n",
      "Successfully installed dash-bootstrap-components-1.1.0\n",
      "Note: you may need to restart the kernel to use updated packages.\n"
     ]
    }
   ],
   "source": [
    "pip install dash-bootstrap-components"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "ba58cfd5",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "^C\n",
      "Note: you may need to restart the kernel to use updated packages.\n"
     ]
    }
   ],
   "source": [
    "#pip uninstall numpy"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "b17af434",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Requirement already satisfied: numpy in c:\\users\\sarax\\anaconda3\\lib\\site-packages (1.20.3)Note: you may need to restart the kernel to use updated packages.\n",
      "\n"
     ]
    }
   ],
   "source": [
    "#pip install numpy"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "2a1bd3fc",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.9.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}
